<div class="row">
  <div class="span8 offset4">
    <div class="loginForm">
      <%= form_for(:sessions, :url => sessions_path) do |form| %>
        <div>Username</div>
        <%= form.text_field :username, :placeholder => "Username", :autocomplete => "on" %>
        <br />
        <%= form.submit "Sign up/Login", :class => "btn primary loginButton" %>
      <% end %>
    </div>
  </div>
</div>
