<script id="story-node-tpl" type="text/template">
  <div class="story-node">

    <div class="branch-header">
      <h2 class="branch-title">{{ title }}</h2>
      <span class="author">By: {{ author.username }}</span>
    </div>

    <div class="branch-content">
      {% var temp = _.escape(content).replace(/\n/g, '<br/>') %}
      {= temp =}
    </div>

    <a class="edit-branch-btn btn" href="{{ ROUTES['story_nodes'].edit(id) }}">
      Edit Text
    </a>
    <div class="clear"></div>

    <ul class="branch-link-group">
      {% _.each(branches, function(branch) { %}
        <li>
          <a class="branch-link" href="{{ ROUTES['story_nodes'].show(branch.id) }}">
            {{ branch.title }}
          </a>
        </li>
      {% }); %}
    </ul>

    <a class="btn new-branch-btn" href="{{ ROUTES['story_nodes'].new() }}?parent={{ id }}">
      New Branch
    </a>
  </div>
  <br />
</script>
