<%= render 'layouts/topbar' %>

<div class="span-two-thirds">
	<div class="home_left_div">
		<%= form_for @user, :url =>"profile" do |form| %>
			<%= form.text_area :username, :class => "profile_textarea", :placeholder => "What's happening?", :autocomplete => "on" %>
			</br>
			</br>
			<%= form.submit "Tweet", :class => "home_submit_button"%>
		<% end %>
	</div>
</div>
 
<div class="span-one-thirds">
	Your Tweets
	</br>
	</br>
	Following
	</br>
	</br>
	Who to follow
</div>