<div class="editItemForm">
  <%= form_for @story_node, :method => :put do |form| %>
    <%= form.text_field :title, :placeholder => @story_node.title || "Chapter Title" %>
		<%= form.text_area :content, :class => "stories_text_area", :placeholder => @story_node.content || "Chapter contents" %>
		</br>
		<%= form.submit "Save" %>
	<% end %>
</div>
