<p>
  <b>Title:</b>
  <%= @story.title %>
  </br>
  <b>Description:</b>
  <%= @story.description %>

  <br />
  <a href="/story_nodes/<%= @story.start_node %>">continue to the story</a>
  <br />
</p>
