<%= render 'templates/story_templates.html' %>

<div class="span10">
	<div class="frontpage_left_div">
		<a href="/stories/new"> Create Story </a>
		</br>

    <h1>Stories</h1>
    <ul id="story-list-placeholder"></ul>

    <script type="text/javascript">
      window.BranchItOut.stories = <%= raw @stories.to_json %>;
    </script>
	</div>
</div>

<%= requirejs_include_tag "home_page" %>
