<%= render 'templates/story_templates.html' %>

<div id="frontpage" class="span10">
  <h1>Stories</h1>
  <a class="submit_button" href="/stories/new">
    Create Story
  </a>

  <ul id="story-list-placeholder"></ul>

  <script type="text/javascript">
    window.BranchItOut.stories = <%= raw @stories.to_json %>;
  </script>
</div>

<%= requirejs_include_tag "home_page" %>
