a.logo {
	text-indent: -9999px;
	background: transparent url(../img/twitter_logo_right.png) no-repeat 20px 9px;
	background-image: url(https://twimg0-a.akamaihd.net/a/1320861875/phoenix/img/twitter_logo_right.png);
	background-repeat-x: no-repeat;
	background-repeat-y: no-repeat;
	background-attachment: initial;
	background-position-x: 20px;
	background-position-y: 9px;
	background-origin: initial;
	background-clip: initial;
	background-color: transparent;
	display: block;
	color: white;
	height: 40px;
	width: 140px;
	margin-right: 5px;
	outline: none;
	outline-style: none;
	outline-width: initial;
	outline-color: initial;
}