// Place all the styles related to the frontpage controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.frontpage_right_div {
	width: 264px
}

input.frontpage_submit_button {
	width: 54px;
	float: right;
}

input.frontpage_large_textfield {
	width: 254px
}

