// Place all the styles related to the story_nodes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.story-title {
  font-size: 30px;
  text-align: right;
}

.branch-title {
  font-size: 20px;
}

.branch-content {
}

.title {
  font-weight: bold;
}

.btn {

}
