// Place all the styles related to the Story controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#new-stories-page {
  text-align: center;
  input, textarea {
    margin: 10px auto;
    width: 90%;
  }
}
