// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div.user_home_left_div {
	width: 492px
}

input.user_home_submit_button {
	float: right;
}

textarea.profile_textarea {
	height: 56px;
	width: 482px;
}