<div class="topbar" data-scrollspy="scrollspy">
	<div class="topbar-inner">
			<div class="container">
				<a class="brand" href = <%= root_path %> >CYOA</a>
				<ul class="nav">
				<li class="active"><a href = <%= root_path %> >Settings</a></li>
				<!-- <li><a href="#about">Settings</a></li> -->
			</ul>
		</div>
	</div>
</div>