<div class="topbar" data-scrollspy="scrollspy">
	<div class="topbar-inner">
    <ul class="nav">
      <li>
        <a href=<%= root_path %>>
          <%= image_tag("logo.png", :size => "175x100", :alt => "Branch it out") %>
        </a>
      </li>
    </ul>
	</div>
</div>
